docker.enabled = true

manifest {
    contributors = [    
        [
            name : "Dominik Lux",
            affiliation : "Ruhr University Bochum, Medical Proteome Center, Medical Bioinformatics",
            email : "dominik.lux@rub.de",
            contribution : ["author", "maintainer"],
            orcid : "0000-0002-7490-8260"
        ],
    ]

    defaultBranch = "main"
    description = " Protein-Graph-FASTA-Generation and Identification workflow (ProGFASTAGen)"
    homePage = "https://github.com/mpc-bioinformatics/ProGFASTAGen"
    license = "three-clause BSD"
    mainScript = "main_workflow_precursor_specific_fasta.nf"
    name = "ProGFASTAGen"
    
    gitmodules = false
    recurseSubmodules = false

    version = "1.0"
}

profiles {
    standard {
        // Default profile
        process { 
            withLabel: progfastagen { container = "luxii/progfastagen:${manifest.version}" }
            withLabel: progfastagen_thermo_conversion { container = "quay.io/biocontainers/thermorawfileparser:1.4.3--ha8f3691_0" }
            withLabel: progfastagen_bruker_conversion { container = "mfreitas/tdf2mzml" }
        }
    }

    latest {
        process { 
            withLabel: progfastagen { container = "luxii/progfastagen:latest" }
            withLabel: progfastagen_thermo_conversion { container = "quay.io/biocontainers/thermorawfileparser:1.4.3--ha8f3691_0" }
            withLabel: progfastagen_bruker_conversion { container = "mfreitas/tdf2mzml" }
        }
    }

    developer {
        // profile for development
        process { 
            withLabel: progfastagen { container = "luxii/progfastagen:development" }
            withLabel: progfastagen_thermo_conversion { container = "quay.io/biocontainers/thermorawfileparser:1.4.3--ha8f3691_0" }
            withLabel: progfastagen_bruker_conversion { container = "mfreitas/tdf2mzml" }
        }
    }
}
